GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SERVICE_ACCOUNT_FILE=secrets/ventas-joyas-bot-5b01c338ac91
TARGET_SPREADSHEET_ID=1AMGRZ9vdJPXTHCvPLdu9Q954CkWU2tdsZ6VicGmGAbo
TARGET_WORKSHEET_NAME=ventas_consolidado
SOURCES_CONFIG=config/sources.yml
